<p style="color: green"><%= notice %></p>

<%= render @inventory %>

<div class="d-flex justify-content-around">
  <%= link_to "Edit this inventory", edit_inventory_path(@inventory) %> |
  <%= link_to "Back to inventories", inventories_path %>

  <%= button_to "Destroy this inventory", @inventory, method: :delete, class:'btn btn-dark link' %>
</div>
