<div>   
<h2 class="text-center"><%= @recipe.name %></h2>
<div class="position-relative">
  <p>
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <div class="top-corner">
    <p>
      This recipe is <strong><%= recipe.public ? 'public' : 'Private' %></strong>
    </p>
    <%= button_to "Make it #{recipe.public ? 'private' : 'public'}", recipe_path(recipe.id), class: 'bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded', method: :patch, class: 'btn btn-dark link' %>
  </div>
</div>

</div>
