<div>   
<h2 class="text-center"><%= recipe.name %></h2>
<div class="position-relative">
  <p>
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p class="top-corner">
    <strong>Public:</strong>
    <%= recipe.public %>
  </p>
</div>


</div>
