<div>  
  <div>
    <%= link_to "Add food", new_food_path %>
  </div>
  <div>
    <div>
        <div>Food</div>
        <div>Measurement Unit</div>
        <div>Unit Price</div>
    </div>
    <div>
      <% @foods.each do |food| %>
        <div> <%= food.name %> </div>
        <div> <%= food.measurement_unit %> </div>
        <div>$<%= food.price %> </div>
        <div> 
          <%= button_to "Delete", food_path(food.id), :method => :delete%> 
        </div>
      <% end %>
    </div>
  </div>
</div>